saves/flat/checkpoints/*
saves/flat/graphs/train/*
saves/flat/graphs/test/*

saves/sequential/checkpoints/*
saves/sequential/graphs/train/*
saves/sequential/graphs/test/*

saves/double_seq/checkpoints/*
saves/double_seq/graphs/train/*
saves/double_seq/graphs/test/*

!saves/flat/checkpoints/.gitkeep
!saves/flat/graphs/train/.gitkeep
!saves/flat/graphs/test/.gitkeep

!saves/sequential/checkpoints/.gitkeep
!saves/sequential/graphs/train/.gitkeep
!saves/sequential/graphs/test/.gitkeep

!saves/double_seq/checkpoints/.gitkeep
!saves/double_seq/graphs/train/.gitkeep
!saves/double_seq/graphs/test/.gitkeep
